<h3 id="wanttolearnmore">Want to learn more?</h3>
<table>
  <tr>
    <td>
      <p><img src="/assets/images/gluonlogo.png" width="200" alt="" /></p>
    </td>
    <td>


      <ul>
      <li><a href="https://leverj.io/">Check out the website</a></li>

      <li><a href="https://leverj.io/GluonPlasma.pdf">Read our white paper</a></li>

      <li><a href="https://leverj.io/LeverjRisk.pdf">Study our Protocol</a></li>

      <li><a href="https://twitter.com/Leverj_io">Follow us on Twitter</a></li>

      <li><a href="https://t.me/leverj">Join our Telegram group</a></li>
      </ul>
    </td>
  </tr>
</table>
